# development
out
*.so
*.pyc
__pycache__/
.config
.config.old
klippy/.version
.history/
.DS_Store
ci_build/
ci_cache/
_test_.*
klippy/plugins/*
!klippy/plugins/__init__.py
.vscode
.idea/*

# docs
site/
.env/
.venv/
env/
venv/
mkdocs-env/
logs/
.iter-state/
klippy/extras/beacon.py
klippy/extras/auto_speed.py
klippy/extras/autospeed/
klippy/extras/autotune_tmc.py
klippy/extras/motor_constants.py
klippy/extras/motor_database.cfg
klippy/extras/shaketune/
klippy/extras/z_calibration.py
